@import "../../styles/variables";
@import "../../styles/animations";

.CardWrapper {
  position: relative;
  display: flex;
  border-radius: 8px;
  height: 100%;
  background-color: $card-light-background;
  width: 100%;

  @media (prefers-reduced-motion: no-preference) {
    &--flip-face-down {
      &:after {
        background-color: $card-light-background;
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        animation: flip-face-down 150ms linear forwards;
      }

      .HeroCard,
      .PartyLeaderCard,
      .MonsterCard {
        transform: rotate3d(0, 1, 0, 90deg);
        translate: -10px -10px;
        box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.14);
        animation: flip-face-up 150ms linear 150ms forwards;
      }
    }
  }
}
