@import "../../styles/variables";

.CentralPlaymate {
  display: flex;
  height: 100%;
  width: 100%;
  align-content: center;
  flex-wrap: wrap;
  overflow: hidden;
  justify-content: flex-end;

  &__card-pile-container,
  &__monsters-container {
    display: flex;
    flex-wrap: wrap;
  }
  &__monster-container,
  &__monster-pile-container {
    height: calc(25vh - 2px);
    width: $monster-size-lg;
    margin: 2px;
  }

  &__discard-pile-container,
  &__draw-pile-container {
    height: calc(12.5vh - 8px);
    width: 8vh;
    margin: 2px;
  }

  &__card-pile-container &__card-pile-container {
    flex-direction: column;
    z-index: 2;
  }

  &__monster-pile-container {
    z-index: 3;
  }
}
