@import "../../styles/variables";

.PlayerPlaymate {
  padding: 4px;
  display: flex;
  &--remote {
    width: 100%;
    flex: 1 1;
    max-height: calc(75vh / 5);
  }
  &--local {
    height: 100%;
    width: 100%;
  }

  &__party-leader-container {
    height: 100%;
  }

  &--local &__party-leader-container {
    font-size: 1vh;
    width: $party-leader-size-lg;

    &:hover {
      transform: scale(2);
      translate: 7vh -12vh;
      z-index: 2;
    }
  }

  &--remote:first-child &__party-leader-container:hover {
    translate: 8vh 14vh;
  }

  &--remote &__party-leader-container {
    font-size: 0.6vh;
    width: $party-leader-size-sm;
    &:hover {
      transform: scale(3);
      translate: 8vh 0;
      z-index: 2;
    }
  }

  &__heroes-container {
    height: 100%;
    flex: 1 1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    overflow: auto;
  }

  &--local &__hero-container {
    height: calc(50% - 4px);
    margin: 2px;
    width: 8vh;
  }

  &--remote &__hero-container {
    height: calc(50% - 2px);
    margin: 1px;
    width: 5vh;
  }
}
