$card-light-background: #f5f3e6;
$shadow-color: rgba(0, 0, 0, 0.14);

$elevation-0: 0 0 0 0px $shadow-color;
$elevation-1: 5px 5px 2px 0px $shadow-color;
$elevation-2: 10px 10px 5px 0px $shadow-color;

$fighter-type-color: #98272d;
$ranger-type-color: #225c3b;
$bard-type-color: #c5512f;
$thief-type-color: #064e7c;
$guardian-type-color: #ecac23;
$wizard-type-color: #772c90;
