.Board {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  &__content {
    display: flex;
    flex: 1 1;
  }
  &__player-playmate {
    flex: 1 1;
    max-height: 25%;
    position: relative;
  }

  &__players-playmate {
    max-width: 40%;
    height: 100%;
    flex: 1 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
  }

  &__player-hand-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    .PlayerHand {
      pointer-events: all;
      transition: all 200ms linear;
      position: absolute;
      top: 65%;
      &:hover {
        top: 10px;
      }
    }
  }

  &__central-playmate {
    height: 100%;
    flex: 1 1;
  }
}
